<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta property="og:title" content="CashIT - Salarii, nu povesti!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.cash-it.xyz/" />
    <meta property="og:image" content="http://www.cash-it.xyz/assets/img/favicon.jpg" />
    <meta property="fb:app_id" content="142352406147295" />

    <title>CashIT - Salarii, nu povesti!</title>

    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- FLEXSLIDER CSS -->
    <link href="assets/css/flexslider.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />    
    <!-- Google	Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-73269280-1', 'auto');
          ga('send', 'pageview');
    </script>
</head>

<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '142352406147295',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="#"><img class="logo-custom" src="assets/img/logo.png" alt=""  /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#home">ACASA</a></li>
                     <li><a href="#about-sec">DESPRE NOI</a></li>
                    <li><a href="#view-salaries-sec">CAUTA SALARII</a></li>
                     <li><a href="#add-salary-sec">ADAUGA SALARII</a></li>
                </ul>
            </div>
        </div>
    </div>
        
    <div class="home-sec" id="home">
        <div class="overlay">
            <div class="container">
               <div class="row text-center">   
                   <div class="col-lg-12  col-md-12 col-sm-12">
                        <div class="flexslider set-flexi" id="main-section" >
                            <ul class="slides move-me">
                                <li>
                                    <h3>Salarii, nu povesti!</h3>
                                    <h1>Unde lucram si pe cat?</h1>
                                    <a  href="#view-salaries-sec" class="btn btn-info btn-lg" >
                                    CAUTA SALARII 
                                    </a>
                                    <a  href="#add-salary-sec" class="btn btn-success btn-lg" >
                                    ADAUGA SALARII
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
         
    <div  class="tag-line" >
        <div class="container">
            <div class="row  text-center">
                <div class="col-lg-12  col-md-12 col-sm-12">
                    <h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i> 
                        Descopera salariile din industria IT 
                    <i class="fa fa-circle-o-notch"></i> </h2>
                </div>
            </div>
        </div>    
    </div>

    <div id="about-sec" class="container set-pad">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line"> DESPRE NOI </h1>
                    <p data-scroll-reveal="enter from the bottom after 0.3s" >
                        Vrei sa stii care sunt adevaratele salarii din industria IT? Nu stii ce suma sa negociezi pentru noul loc de munca? Suntem bombardati cu informatii legate de salariile programatorilor dar nu avem o imagine de ansamblu a acestei piete. Contribuie in mod anonim la baza noastra de date, compara salarii si analizeaza-ti optiunile! 
                    </p>
                    <br>
                    <img src="assets/img/favicon.jpg"/>
                    <br>
                    <br>
            </div>
        </div>
    </div>  

    <div id="view-salaries-sec">
        <div class="container set-pad">
            <div class="row text-center">
                <div>
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">CAUTA SALARII </h1>
                    <form action="/index#view-salaries-sec" method="post">
                        <div class="form-group">
                            <table width="70%" class="tablesorter" id="resultTable" align="center">
                                <tr>
                                    <td style='padding:2px 2px 2px 2px'>
                                        <input list="companies" name="searchCompanyName" class="form-control" 
                                            placeholder="Oricare Companie" />
                                        <datalist id="companies">
                                            <% for (var index = 0; index < companyNames.length; index++)  { %>
                                                <option value="<%= companyNames[index].companyName %>">
                                            <% } %>
                                        </datalist>
                                    </td>
                                    <td style='padding:2px 2px 2px 2px'>
                                        <input list="jobLocations" name="searchLocation" class="form-control" 
                                            placeholder="Oricare Oras" />
                                        <datalist id="jobLocations">
                                            <% for (var index = 0; index < jobLocations.length; index++)  { %>
                                                <option value="<%= jobLocations[index].location %>">
                                            <% } %>
                                        </datalist>
                                    </td>
                                    <td style='padding:2px 2px 2px 2px'>
                                        <input list="positions" name="searchPosition" class="form-control" 
                                            placeholder="Oricare Pozitie" />
                                        <datalist id="positions">
                                            <% for (var index = 0; index < positions.length; index++)  { %>
                                                <option value="<%= positions[index].position %>">
                                            <% } %>
                                        </datalist>
                                    </td>
                                    <td>
                                        <input type="submit" name="submit_search_query" 
                                            class="btn btn-info"  height="30px" value="CAUTA">
                                    </td>
                                </tr>
                            </table>
                        </div>  
                        <br>
                        <div class="form-group">
                            <table width="80%" style="display:<%= showTable%>;" align="center" id="companyTable">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Companie ▲ ▼</th>
                                    <th style="text-align:center;">Salariu lunar (NET in lei) ▲ ▼</th>
                                    <th style="text-align:center;">Pozitie ▲ ▼</th>
                                    <th style="text-align:center;">Oras ▲ ▼</th>
                                    <th style="text-align:center;">PFA ▲ ▼</th>
                                    <th style="text-align:center;">Cu Diploma ▲ ▼</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var index = 0; index < searchResults.length; index++)  { %>
                                <tr>
                                        <td style="text-align:center;"><%= searchResults[index].companyName %></td>
                                        <td style="text-align:center;"><%= searchResults[index].salary %></td>
                                        <td style="text-align:center;"><%= searchResults[index].position %></td>
                                        <td style="text-align:center;"><%= searchResults[index].location %></td>
                                        <td style="text-align:center;">
                                            <%
                                                var isPFA = "NU";
                                                if(searchResults[index].isPFA == 1) {
                                                    isPFA = "DA";
                                                } 
                                            %>
                                            <%= isPFA %>
                                        </td>
                                        <td style="text-align:center;">
                                            <%
                                                var hasDiploma = "NU";
                                                if(searchResults[index].hasDiploma == 1) {
                                                    hasDiploma = "DA";
                                                } 
                                            %>
                                            <%= hasDiploma %>
                                        </td>
                                </tr>
                                <% } %>
                            </tbody>
                            </table>
                        </div>
                        <div class="for-group">
                                <p align="center"><%= searchMessage %></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     
    <div id="add-salary-sec">
        <div class="overlay">
            <div class="container set-pad">
                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                        <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line" > ADAUGA SALARII  </h1>
                     </div>
                 </div>
                
                <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.5s" >
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <form action="/index#add-salary-sec" method="post">
                            <div class="for-group">
                                <p align="center" style="<%= submitMessage.style %>"><%= submitMessage.value %></p>
                            </div>
                            <div class="form-group">
                                <input list="companies" name="companyName" class="form-control" value="<%= formData.companyName.value %>"
                                    placeholder="* Nume Companie" style="<%= formData.companyName.style %>" maxlength="100"/>
                            </div>
                            <div class="form-group">
                                <input list="positions" name="position" class="form-control" value="<%= formData.position.value %>"
                                    placeholder="* Pozitie" style="<%= formData.position.style %>" maxlength="100"/>
                                <datalist id="positions">
                                    <% for (var index = 0; index < positions.length; index++)  { %>
                                        <option value="<%= positions[index].position %>">
                                    <% } %>
                                </datalist>
                            </div>
                            <div class="form-group">
                                <input type="text" name="salary" class="form-control" value="<%= formData.salary.value %>"
                                    placeholder="* Salariu lunar net in LEI" style="<%= formData.salary.style %>" maxlength="100"/> 
                            </div>
                             <div class="form-group">
                                <input list="jobLocations" name="jobLocation" class="form-control" value="<%= formData.jobLocation.value %>"
                                    placeholder="* Oras" style="<%= formData.jobLocation.style %>" maxlength="100"/>
                            </div>
                            <div class="form-group">
                                <input type="text" name="yearsOfExperience" class="form-control" value="<%= formData.experience.value %>" 
                                    placeholder="* Ani Experienta" style="<%= formData.experience.style %>" maxlength="100"/>
                            </div>
                            <div class="form-group">
                                <table width ="30%">
                                    <tr align="center">
                                    <td align="center">
                                        <input type="checkbox" name="isPFA"> PFA 
                                    </td>
                                    <td align-"center">
                                        <input type="checkbox" name="hasDiploma"> Absolvent Facultate 
                                    </td>
                                    </tr>
                                </table>
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" name="submit_salary" 
                                    class="btn btn-info btn-block btn-lg" value="SALVEAZA SALARIUL">
                            </div>
                        </form>
                    </div>      
                </div>
            </div>
        </div> 
    </div>
    <div id="footer">
      <p align="center">Copyright &copy; 2016 CashIT. Realizat cu <span style="color: red">❤</span> in Romania.</p>
    </div>
    <!-- FOOTER SECTION END-->
   
    <!--  Jquery Core Script -->
    <script src="assets/js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="assets/js/bootstrap.js"></script>
    <!--  Flexslider Scripts --> 
    <script src="assets/js/jquery.flexslider.js"></script>
    <!--  Scrolling Reveal Script -->
    <script src="assets/js/scrollReveal.js"></script>
    <!--  Scroll Scripts --> 
    <script src="assets/js/jquery.easing.min.js"></script>
    <!--  Custom Scripts --> 
    <script src="assets/js/custom.js"></script>
    <!-- Table Sorter -->
    <script src="assets/js/jquery.tablesorter.js"></script>
    <script src="assets/js/jquery.tablesorter.min.js"></script>
    <script>
        $(document).ready(function() 
        { 
            $("#companyTable").tablesorter(); 
        }); 
    </script>

</body>
</html>
